@font-face {
  font-family: lighter_Swis;
  src: url("/fonts/tt0001m_.ttf");
}

@font-face {
  font-family: italics_lighter_Swis;
  src: url("/fonts/tt0002m_..ttf");
}

@font-face {
  font-family: Swis;
  src: url("/fonts/tt0003c_.ttf");
}

@font-face {
  font-family: italics_Swis;
  src: url("/fonts/tt0004c_.ttf");
}

@font-face {
  font-family: bolder_Swis;
  src: url("/fonts/tt0005m_.ttf");
}

@font-face {
  font-family: italics_bolder_Swis;
  src: url("/fonts/tt0006c_.ttf");
}

@font-face {
  font-family: bolder_plus_Swis;
  src: url("/fonts/tt0007m_.ttf");
}

@font-face {
  font-family: Swis721_BlkCn_BT;
  src: url("/fonts/tt0173m_.ttf");
}
